<div class="flex flex-col gap-8">
    @for (flightData of flightDataList; let i = $index; track i) {
    <div>
        <div class="flight-card">
            <div class="info-flight-card">
                <div class="flight-tags">
                         @if (flightData.isBest && flightData.isCheapest) {
                    @if (flightData.isBest) {
                        <span  class="tag best">Best</span>
                    }
                    @if (flightData.isCheapest) {
                    <span  class="tag cheapest">Cheapest</span>
                    }
                }
                </div>
               
                <div class="detais-container">
                    @for (flight of flightData.flights; track $index) {
                    <div class="flight-info">
                        <div class="airline">
                            <img [src]="flight.logo" [alt]="flight.airline" />
                            <div>
                                <div class="flight-type">{{ flight.stops }}</div>
                                <div class="airline-name">{{ flight.airline }}</div>
                            </div>
                        </div>
                        <div class="timing">
                            <div class="time">{{ flight.from.time }}</div>
                            <div class="code">{{ flight.from.code }}</div>
                        </div>

                        <div class="route-line w-[15%]">
                            <hr>
                        </div>

                        <div class="timing">
                            <div class="time">{{ flight.to.time }}</div>
                            <div class="code">{{ flight.to.code }}</div>
                        </div>

                        <div class="select-button">
                            <button class="btn">
                                {{ flight.type === 'departure' ? 'Select Departure' : 'Select Return' }}
                            </button>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="flight-price">
                <div class="amount">{{ flightData.currency }} {{ flightData.price }}</div>
                <div class="monthly">As low as ${{ flightData.pricePerMonth }}/mo</div>
                <div class="note">Price per person<br />(incl. taxes & fees)</div>
                <button class="btn primary">Select</button>
            </div>
            @if (expandedCardIndex !== i) {
                <div class="details-chip" (click)="toggleDetails(i)">
                  <div class="chip-title">Flight Details <i class="pi pi-angle-down"></i></div>
                </div>
              }
        </div>

        @if (expandedCardIndex === i) {
        <div class="flight-details-card">
            <div class="detais-card">
                @for (flight of flightData.flights; let j = $index; track j) {
                <div class="flight-details-section flex flex-col gap-5 p-4">
                    <div class="details-header flex justify-between items-center">
                        <p class="text-lg font-bold">
                            {{ flight.type === 'departure' ? 'Depart' : 'Return' }} Mon, {{ flight.type === 'departure'
                            ?
                            'May 19' : 'May 26' }}
                        </p>
                        @if (flight.type === 'departure') {
                        <p class="text-xs text-[#006ee3] cursor-pointer" (click)="toggleDetails(i)">
                            Close Flight Details <i class="pi pi-times text-xs"></i>
                        </p>
                        }
                    </div>

                    <section class="details flex gap-4">
                        <div>
                            <img [src]="flight.logo" [alt]="flight.airline" />
                        </div>
                        <div class="flex w-full">
                            <div class="detail-content flex gap-4 w-full">

                                <div class="part-one flex flex-col gap-4 flex-1">
                                    <div class="flex flex-col gap-1 text-sm">
                                        <span class="font-bold">{{ flight.airline }}</span>
                                        <span>Flight 1562 Aircraft <span
                                                class="cursor-pointer underline">737</span></span>
                                    </div>
                                    <p><span>Cabin:</span> Coach</p>
                                </div>


                                <div class="part-two flex-1">
                                    <div class="flex flex-col gap-1 text-sm">
                                        <span>Mon, {{ flight.type === 'departure' ? 'May 19' : 'May 26' }}</span>
                                        <span>{{ flight.from.time }}</span>
                                        <span>{{ flight.from.code }}</span>
                                    </div>
                                </div>


                                <div class="part-three flex-1">
                                    <div class="flex flex-col gap-1 text-sm">
                                        <span>Mon, {{ flight.type === 'departure' ? 'May 19' : 'May 26' }}</span>
                                        <span>{{ flight.to.time }}</span>
                                        <span>{{ flight.to.code }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="details-footer">
                        <p class="text-sm">
                            <span class="font-bold">Total Trip Duration:</span> {{ flight.duration }}
                        </p>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </div>
    }
</div>